/* Center page content horizontally and vertically */
* {
    border: 1px black solid;
    margin:0;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img { max-width: 100%; height: auto; }

h1{
    color: rgb(255, 0, 162);
font: 60px "Times New Roman", Times, serif, bold;
font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif;
font-style: oblique;
background-color: rgb(255, 188, 223);
padding: 20px;
}

p{color: rgb(194, 61, 121);} 

h2{color: rgb(0, 44, 140);
background: rgb(165, 214, 255);} 

p.yellow{color: rgb(255, 255, 0);}
.class1{
    color: rgb(0, 140, 0);

